*{
    padding: 10;
    margin: 10;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    background-color: black;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10ox;
    width: 150px;

}
nav li:hover{
background-color: rgb(81, 173, 6);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.contenido{
    display: flex;
    margin: 20px;
}
